@mixin flex($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}